$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: 'Lato', 'Montserrat', 'PT Sans', sans-serif;
  font-size: 15px;
  color: #424242;
}

a {
  cursor: pointer;
}

img {
  width: 100%;
}

p {
  font-weight: normal;
}



.thumbnail.no-border:not(:hover) {
  border-color: transparent;
}

.thumbnail:hover {
  border-color: #45B5EA;;
}

h1, h2{
  font-weight: bold;

}
h3 {
  font-weight: bold;
}
// h3 {
//   color: #575757;
// }

@media (min-width: 768px) {
  .modal-dialog {
    width: 800px;
  }
}

.navbar {
  min-height: 75px;
  

  .navbar-brand {
    color: #424242;
    font-size: 30px;
    font-weight: bold;
    height: 75px;
    line-height: 40px;
    position: relative;
    padding-left: 45px;
    img {
      width:35px;
      position: absolute;
      left:0;
      top:20px;
    }
  }

  .nav {
    li {
      a {
        font-size: 20px;
        padding-top: 25px;
      }
    }
  }

}


header {
  text-align: center;
  color: #fff;
  position: relative;
  background-color: #424242;
  margin-bottom: -50px;
  .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/header-background.jpg) no-repeat bottom center scroll;
    opacity: 0.3;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .container {
    padding-top: 150px;
    padding-bottom: 100px;
    
    
    .img-container {
      width: 170px;
      height: 170px;
      margin: 0 auto 20px;
      border-radius: 50%;
      overflow: hidden;  
      img {
        height: auto;
        width: 100%;
      }
    }

    .intro-text {
      margin: 0 auto;
      width: 60%;

      h1, h2, h3, h4 {
        color: #fff;
      }

      >h4 {
        margin-top: 20px;
      }
    }

    .social-links {
      a {
        display: inline-block;
        margin: 0 5px 0 5px;
        color: #fff;
        font-size: 25px;
      }

      a:hover {
        opacity: 0.8;
      }
    }
    
  }
}


section#portfolio {
  margin: 0;
  padding-top: 100px;
  margin-bottom: -50px;
  .portfolio-header {
    margin: 0 0 50px 0;
  }

  // owl carousel 2
  // .owl-controls {
  //   position: absolute;
  //   width: 100%;
  //   top:-50px;
  //   left: 0;
  //   .owl-nav [class*=owl-] {
  //     background: #45B5EA;
  //   }
  //   .owl-nav [class*=owl-]:hover {
  //     background: #0FA2E7;
  //   }
    
  // }
  
  // owl carousel 1
  .owl-controls {
    position: absolute;
    width: 100%;
    top:-50px;
    left: 0;

    .owl-buttons {
      div {
        background: #45B5EA;
        opacity: 1;
      }

      div:hover {
        background: #0FA2E7;
      }
    } 
  
  }



  .container {
    .row {
      width: 80%;
      margin: 0 auto;
      
      .features {

        h1 {
          margin-top: 0;
        }

        >h3 {
          margin-top: 0;
        }

        .tech-header {
          margin-top: 20px;
        }

        .tech-icons {

          >img {
            height: 50px !important;
            width: auto !important;
            display: inline-block !important;
            margin: 0 20px 10px 0;

          }
           >img.angularjs {
            height: 40px !important;
            margin-top: 3px;
          }
        }

      }
     

      .project-metadata {
        margin-top: 50px;
        color:#999;
      }
    }
  }
  

}

section#contact {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 100px;
}

